# Python
__pycache__
*.pyc

# Virtual Environment
bin/*
share/*
share/jupyter/*
etc/*
lib/*
lib64/*
pyvenv.config
venv/*

# Config and Env
config.py
.env

# Logs
/logs/*
!/logs/.gitkeep

# Data
/data/*
!/data/categories.json
!/data/uploads
/data/uploads/*
!/data/uploads/.gitkeep
!/data/uploads/reimbursements
/data/uploads/reimbursements/*
!/data/uploads/reimbursements/.gitkeep
!/data/analyses
/data/analyses/*
!/data/analyses/.gitkeep
/data/users.json
/data/transactions.json

# Misc
tree.txt
app.log
import_statement.txt