# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
bin/
share/
etc/
lib/
lib64/
pyvenv.cfg

# Config and Environment
config.py
.clinerules
.env

# Logs
/logs/*
!/logs/.gitkeep
app.log

# Data
/data/*
!/data/categories.json
!/data/uploads/
/data/uploads/*
!/data/uploads/.gitkeep
!/data/analyses/
/data/analyses/*
!/data/analyses/.gitkeep

# Test Results
test-results/

# Legacy Code
/legacy_code/
