__pycache__
*.pyc
config.py
bin/*
tree.txt
app.log
share/*
share/jupyter/*
etc/*
lib/*
lib64/*
pyvenv.config
import_statement.txt
venv/*
.env
/data/uploads/*
!/data/uploads/.gitkeep
/data/uploads/reimbursements/*
!/data/uploads/reimbursements/.gitkeep
data/analyses/*
!/data/analyses/.gitkeep
data/properties.json
data/transactions.json
data/users.json