dash==2.11.1
dash-bootstrap-components==1.4.1
dash[testing]>=2.0.0
flask==2.3.2
flask-login==0.6.2
pandas==2.0.3
numpy==1.25.1
plotly==5.15.0
scipy==1.11.1
matplotlib==3.7.2
sqlalchemy==2.0.17
requests==2.31.0
beautifulsoup4==4.12.2
pillow==10.0.0
openpyxl==3.1.2
xlrd==2.0.1
pyarrow==12.0.1
psutil==5.9.5
pytest==7.4.0
hypothesis==6.81.1
coloredlogs==15.0.1
fire==0.5.0
ipywidgets==8.0.7
numba==0.57.1
pyyaml==6.0
reportlab==4.0.4
selenium>=4.0.0
setuptools==68.0.0
six==1.16.0
tenacity==8.2.2
tornado==6.3.2
webdriver_manager>=3.0.0
werkzeug==2.3.6
zipp==3.16.0